<!DOCTYPE html>
<html>
    <head>
        <title>Booking List</title>
		<style>
        
    </style>
		
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
		<link rel="stylesheet" href="style.css">
		{% block javascripts %}
					<script>
					
						
						 $(function() {
							var dateToday = new Date();
							var array = [];
							//at first only september dates will be disabled.
											$.ajax({
													  method: "GET",
													    url: '/dateList',
													  data: { }
													})
													  .done(function(book) {
														array ="["+book+"]";
													    /*Making disable the range if already booked*/
														$('#inputflag').datepicker({
															minDate: dateToday,
															onChangeMonthYear: function(year,month,inst) {
															// Perform AJAX call and get the list
															//override the array, and now the october dates will be disabled.
															// array = ["2021-11-23","2015-10-24","2013-10-16"]
															},
															beforeShowDay: function (date) {
																		 var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
																		 return [array.indexOf(string) == -1 ]
																	}
														}); 
													  
													  });
             
							$("#datepicker_ckin" ).datepicker({  dateFormat: "yy-mm-dd",
							        minDate: dateToday,
									
									onSelect: function(){
										var checkin = $(this).val();
										if($("#datepicker_ckout" ).val()!=''){
										   var checkout= $("#datepicker_ckout" ).val();
										   if(checkin>checkout){
											    alert("checkout date should be higher");
												
												 $("#datepicker_ckin" ).datepicker('setDate', null);
												return;
											} 
										   $.ajax({
													  method: "POST",
													   url: '/checkBooking',
													  data: { checkin: checkin, checkout: checkout }
													})
													   .done(function(book) {
														console.log(book);
														if(book>0) {
														     alert( "Already have booking "+checkin + " between "+ checkout+"\n try another range");
															 $("#datepicker_ckin" ).datepicker('setDate', null);
															
														}
														else {
														   
															 console.log(book);
													    }
													  
													  
													  });
										
										}
									
									}
							
							});
							$("#datepicker_ckout" ).datepicker({dateFormat: "yy-mm-dd",
									minDate: dateToday,
									onSelect: function(){
										var checkout = $(this).val();
										if($("#datepicker_ckin" ).val()!=''){
											var checkin= $("#datepicker_ckin" ).val();
											if(checkin>checkout){
											    alert("checkout date should be higher");
												$("#datepicker_ckout" ).datepicker('setDate', null);
												return;
											} 
											$.ajax({
													  method: "POST",
													    url: '/checkBooking',
													  data: { checkin: checkin, checkout: checkout }
													})
													  .done(function(book) {
														
														if(book>0 ) {
														    alert( "Already have booking "+checkin + " between "+ checkout+"\n try another range");
															$("#datepicker_ckout" ).datepicker('setDate', null);
															
														}
														else {
														   console.log(book);
													    }
													  
													  
													  });
											
											
											
										}
									}
							
							
							
							
							});
							
						
							
						 
							
						
						
						  });
						
						  function showBookingFunction() {
							  var x = document.getElementById("form_bdy");
							  x.style.display = "block";

							  
						 }

						
					</script>
			{% endblock %}
    </head>
    <body>
        <div class="wrapper">
		 <div class="container">
		
			
			<a href="{{ path('home') }}">Homepage</a> | <a onClick="showBookingFunction()">Book</as>
			    
				<div id="bookinglist" style="float:right;">
				<h3>Booking List</h3>
					
					
					{% for booking in booking_list %}
					

						<p> <a href="{{ path('show_booking', {id: booking.id}) }}"> {{booking.id}} . {{ booking.getStartDate()|date("d-M-Y") }} - {{ booking.getEndDate()|date("d-M-Y") }} </a> {{ booking.getFirstName() }} {{ booking.getLastName() }} {{ booking.getEmail() }}</p>
					{% endfor %}
				</div>
				<div style="float:left;">
					<strong>Calendar</strong>
					<div id="inputflag"></div>
				</div>
				 <div id="form_bdy" style="float:left;">
				     <h3>Reserve A Room</h3>
					 <form  action="{{ path('create_booking') }}" method="POST">
					 
						 <p> <input type="text" id="datepicker_ckin" name="_ckin" required placeholder="Check In Date">
						 <input type="text" id="datepicker_ckout" name="_ckout" required placeholder="Check Out Date"></p>

							 <p><input type="text" name="_first_name" placeholder="First Name" required>
							 <input type="text" name="_last_name" placeholder="Last Name" required></p>
							 <p><input type="email" name="_email" placeholder="Email" required></p>
							 <p><input type="submit" name="submit" value="Book" required></p>

					 </form>
				 </div>
			</div>
		</div>
    </body>
</html>